@media screen and (min-width: 1400px) {
  .dsk-electronic-container {
    display: block;
    padding: 10px 8px;
  }
  .left-electronic-section {
    background-image: url(https://rukminim1.flixcart.com/fk-p-flap/278/278/image/7593e7b6640822c1.jpg?q=90);
    background-repeat: no-repeat;
    background-position: 0 bottom;
    width: 230px;
  }
  .left-text {
    padding: 36px 10px 48px;
    width: 230px;
  }
  .left-text h2 {
    font-size: 30px;
    font-family: "font-regular";
    font-weight: 400;
    text-align: center;
    line-height: 1.38;
  }
  .button-view {
    margin: 24px 0;
    text-align: center;
  }
  .button-view a {
    background: #2874f0;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: "font-medium";
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
  }
  .dsk-electronic-container {
    display: flex;
    height: 339px;
  }
  .product-electronic {
    display: flex;
  }
  .center-items-container {
    position: relative;
    background: #fff;
    overflow: hidden;
  }
  .product-electronic-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 15px;
  }
  .product-name {
    font-size: 14px;
    margin-top: 15px;
  }
  .product-offer {
    font-size: 16px;
    color: #388e3c;
    padding-top: 8px;
  }
  .product-brand {
    font-size: 14px;
    padding-top: 8px;
    white-space: nowrap;
    color: #212121;
    opacity: 0.6;
  }
  .right-electronic-section {
    padding: 0 0 10px 10px;
  }
  .right-el-image img {
    max-width: 100%;
    max-height: 444px;
  }
  .center-items-section {
    width: 29%;
  }
  .prev-arrow {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 1px 2px 10px -1px rgba(0,0,0,.3);
    background-color: #fff;
    width: 47px;
    height: 104px;
    z-index: 1;
  }
  .next-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 36%;
    right: 0px;
    transform: rotateY(180deg);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 1px 2px 10px -1px rgba(0,0,0,.3);
    background-color: #fff;
    width: 47px;
    height: 104px;
    transform: rotateY(180deg);
  }

}
